.button-primary {
    background-color: #47e4c2;
    color: #222222;
    border: none;
    border-radius: 16px;
    font-size: 1rem;
    padding: 10px 30px;
}

.button-primary:hover {
    background-color: #ffffff;
    color: #222222;
}

.button-primary:active {
    background-color: #98a8ae;
    color: #222222;
}

.button-primary:focus {
    outline: none;
    box-shadow: 0 0 0 1px #222222, 0 0 0 2px #ffffff;
}
