.how-it-works {
    background-color: #f2f1ef;
    display: flex;
    flex: 1 1 auto;
    width: 100%;
}

.card-deck {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 15%;
    padding-right: 15%;
    width: 100%;
}

@media screen and (max-width: 767px) {
    .card-deck {
        flex-direction: column;
        padding-left: 2%;
        padding-right: 2%;
        align-items: center;
        padding-top: 1.5rem;
    }
}
